@import url('https://fonts.googleapis.com/css2?family=Balqis&display=swap');

.home-container {
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 40%, #97D9E1 100%);
    color: #2d065c; 
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .back-btn {
    position:absolute;
    top: 20px;
    left: 30px;
    color: #2d065c;
    font-size: 2rem;
    border: none;
    cursor: pointer;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Balqis&display=swap');

  .home-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(74, 73, 73);
    font-family: inherit;
}
 
  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
  
  .option-btn {
    background: linear-gradient(135deg, #3498db, #e91e63); 
    color: #F5F5F5;
    font-size: 2.5rem;
    font-family: 'Poppins', serif;
    padding: 55px 90px;
    border: whitesmoke;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .option-btn:hover {
    background: linear-gradient(135deg, #4a627e, #253345);
  }
  .page-container {
    min-height: calc(100vh - 60px); /* Adjust based on footer height */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

  